.home {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.slide-show {
  width: 100%;
  max-width: 650px;
  height: auto;
  flex-basis: auto;
}