.ceremony {
  display: flex;
  width: auto;
  height: 75vh;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative;
}

.ceremony-new{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.ceremony img {
  width: auto;
  height: 100%;
}

.containerHome {
  position: relative;
  width: auto;
  height: 80vh;
  justify-content: center;
  background-image: url(../../images/cover.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}